@charset "utf-8";

@import url('https://unpkg.com/ress/dist/ress.min.css');
@import url("../pages/Home/Home.css");
@import url("../pages/Loading/Loading.css");

:root {
    --textColor: #ffffff;
    --bgColor: #0000f1; 
}
li {
    list-style: none;
}
a:link,
a:visited,
a:hover {
    text-decoration: none;
}
body {
    font-family: 'DotGothic16', sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-image: url("/images/bg.png");
    background-size: cover;
}