@charset "utf-8";

@import url('https://unpkg.com/ress/dist/ress.min.css');

:root {
    --textColor: #ffffff;
    --bgColor: #0000d7; 
}
li {
    list-style: none;
}
a:link,
a:visited,
a:hover {
    text-decoration: none;
}
body {
    /* font-family: 'Silkscreen, VT323', sans-serif; */
    font-family: 'DotGothic16', sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-image: url(../../public/images/bg.png);
    background-size: cover;
}