.home {
    width: calc(100% - 100px);
    display: flex;
    margin: 50px auto 0;
    position: relative;
}

.home_left {
    position: sticky;
    top: 50px;
    align-self: flex-start;
    margin-right: 9rem;
}

p,
a,
h3,
span {
    color: var(--textColor);
    line-height: 1.6;
    font-size: 14px;
}

p:first-child {
    margin-bottom: 2rem;
}

p:nth-child(2),
p:nth-child(3),
p:nth-child(6),
.home_left a {
    margin-bottom: 3.5rem;
}

p:nth-child(4),
p:nth-child(7) {
    margin-bottom: 0.3rem;
}

a {
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline solid var(--textColor);
}

p:nth-child(8) {
    margin-bottom: 7.5rem;
}

/* #home_middle
================================================== */
h3 {
    font-size: 8px;
    margin-bottom: 1.5rem;
}

.li_group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

span {
    flex: right;
}

/* #home_right
================================================== */
.home_right {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 1;
}

.home_right img {
    width: 380px;
    height: 380px;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity 0.2s ease;
}

.hidden {
    opacity: 0;
}

.img_reveal-hover {
    cursor: pointer;
    transition: background-color 0.2s ease;
}