.home {
    width: calc(100% - 100px);
    display: flex;
    margin: 50px auto 0;
    position: relative;
}
.home_left {
    position: sticky;
    top: 50px;
    align-self: flex-start;
    margin-right: 9rem;
    color: var(--textColor);
    white-space: pre-wrap;
}
.home_left p,
.home_left a {
    opacity: 0; 
    animation: fadeIn 0.5s forwards; 
}
p,
a,
h3,
span {
    color: var(--textColor);
    line-height: 1.6;
    font-size: 14px;
}
p:first-child {
    margin-bottom: 2rem;
}
a {
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}
a:hover {
    text-decoration: underline solid var(--textColor);
}
p:nth-child(8) {
    margin-bottom: 7.5rem;
}

/* #home_middle
================================================== */
h3 {
    font-size: 8px;
    margin-bottom: 1.5rem;
}
.li_group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
span {
    flex: right;
}

/* #home_right
================================================== */
.home_right {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 1;
}
.home_right img {
    width: 380px;
    height: 380px;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity 0.2s ease;
}
.hidden {
    opacity: 0;
}
.img_reveal-hover {
    cursor: pointer;
    transition: background-color 0.2s ease;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}